* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 110%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    font-size: inherit;
}

.titulo {
    color: palevioletred;
}

.color {
    background-color: palevioletred;
}
main {
    width: 100%;
    height: 100%;
    border: 10px solid gray;
    padding: 20px 35px;
}

.main-nav {    
    list-style: none;
    padding-left: 0;
    margin-top: 10px;    
}

.main-nav__item {
    display: inline-block;
}

.main-nav__item a {
    text-decoration: none;
    color: white;
    padding: 5px;
    background-color: aqua;
    border-radius: 3px;
}

/*Pseudo Clase*/
.main-nav__item a:hover {
    color: black;
}
.main-nav__item a:active {
    color: crimson;    
}

/*Pseudo Elemento*/
.main-nav__item a::after {
    content: " ❤️";
}

.frutas {
    width:10%;
}

.carnes {
    width: 10%;
}

.verduras {
    width: 10%;
}

.videoUno {
    width: 30%;
}

.videoDos {
    width: 30%;
}

.formularioUno {
    color: yellow;
}