* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 110%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3 {
    font-size: inherit;
}
body {
    background-color: black;
}
.header-title {
    text-align: center;
    background-color: aqua;
    width: 60%;
    border-radius: 6px;
    margin: 15px auto;
    position: relative;       
}
.titulo {
    color: palevioletred;
}
main {
    width: 60%;
    height: 100%;
    border: 10px solid gray;
    padding: 20px 35px;
}
.main-nav {    
    list-style: none;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: crimson;
    text-align: center;
    height: 10vh;
    width: 80%;
}
.main-nav__item {
    display: inline-block;
    position: relative;
    top: 25px;
}
.main-nav__item a {
    text-decoration: none;
    color: white;
    padding: 5px;
    background-color: aqua;
    border-radius: 3px;
}
.main-list {
    background-color: palevioletred;
    margin: auto;
    /*padding: 0;*/
    position: relative;
    width: 80%;
}

/*Pseudo Clase*/
.main-nav__item a:hover {
    color: black;
}
.main-nav__item a:active {
    color: crimson;    
}

/*Pseudo Elemento*/
.main-nav__item a::after {
    content: " ❤️";
}

/*Sección imagenes*/
.unordered-list_frutas {
    background-color: aqua;
    text-align: center;
    list-style: none;
    width: 60%;
    margin: auto;        
}
.unordered-list_carnes {
    background-color: crimson;
    text-align: center;
    list-style: none;
    width: 60%;
    margin: auto;
    margin-top: 20px;
}
.unordered-list_verduras {
    background-color: #F4D03F;
    text-align: center;
    list-style: none;
    width: 60%;
    margin: auto;
    margin-top: 20px;
}
.main-list img {
    width: 45%;
}

/*Zona videos*/
.main-recipes {
    background-color: black;
    color: yellow;
    margin: auto;
    margin-top: 20px;
    width: 80%;
    text-align: center;    
}
.section-video_frutas {
    background-color: aqua;
    color: black;
    width: 80%;
    margin: auto;
    padding-top: 10px;
    height: 350px;
}
.section-video_verduras {
    background-color: crimson;
    color: black;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    padding-top: 10px;
    height: 350px;
}
.videoUno {    
    width: 65%;
    padding-top: 5px;
}

.videoDos {
    width: 65%;
    padding-top: 5px;
}

/*Zona Formullarios*/
.main-forms {
    background-color: yellow;
    margin: auto;
    margin-top: 20px;
    width: 50%;
}
.main-forms h2 {
    text-align: center;
}

.form-recomendaciones {
    background-color: aqua;
    color: black;
}
.form-datosUsuario {
    background-color: aqua;
}