.titulo {
    color: yellow;
}

.color {
    background-color: palevioletred;
}

.frutas {
    width:10%;
}

.carnes {
    width: 10%;
}

.verduras {
    width: 10%;
}

.videos {
    width: 10%;
}

.formularioUno {
    color: yellow;
}